.upload{
    flex:1;
    background-color: #f9f9f9;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    padding-bottom:30px;
    
    
}

.upload__previous{
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
  align-items: center;
  flex:1;
}

.previous__Task{
    display: flex;
    
    flex-wrap: wrap;
}

.upload__Task{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 200px;
  
    color :gray;
    width: 100%;
}

.upload__Task >form{
    padding-top: 5px;
    display: flex;
    width: 100%;
    
    
}

.upload__Task >form>input{
    border: none;
    border-radius: 5px;
    width: 100%;
    outline-width: 0;
    font-weight: 600;
    font-size: medium;
}
.upload__Task >form>label{
    font-weight: 650;
    padding-right: 1px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.Task__Desc{
    border-radius: 5px; 
    margin-top: 10px;
    border: none;
    width: 90%;
    height: 130px;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: large;
    font-weight: 600;
    flex-direction: column;
}

.upload__file{
    display: none;
}

.title{
    text-transform: capitalize;
    font-weight: 600;
   
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 2px;
}

.upload__button{
  margin-right: 5px;
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color:#52b788;
  color: white;
}