.upload{
    flex:1;
    background-color: #f9f9f9;
    padding:10px 20px;
    padding-bottom:0;
    
}

.upload__previous{
  display: flex;
  margin-top: 10px;
}

.previous__Task{
    display: flex;
    flex-wrap: wrap;
}

.upload__Task{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    color :gray;
    padding-left: 15px;
}

.upload__Task >form{
    display: flex;
    width: 100%;
}

.upload__Task >form>input{
    border: none;
    flex: 1;
    outline-width: 0;
    font-weight: 600;
    font-size: medium;
}
.upload__Task >form>label{
    font-weight: 650;
    padding-right: 5px;
    
}

.Task__Desc{
    margin-top: 10px;
    border: none;
    width: 90.5%;
    height: 150px;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-size: large;
    font-weight: 600;
    flex-direction: column;
}

.upload__file{
    display: none;
}

.title{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload__button{
  margin-left: 5px;
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color:#52b788;
  color: white;
}